{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<div class="search-box d-flex justify-content-center">
  <input
    id="input-word"
    class="form-control"
    type="text"
    style="margin-right: 0.5rem"
  />
  <button class="btn btn-light" onclick="find_word()">SEARCH</button>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width: 30%">WORD</th>
      <th scope="col">MEANING</th>
    </tr>
  </thead>
  <tbody id="tbody-box">
    {% for word in words %}
    <tr id="word-{{word.word}}">
      <td>
        <a href="/detail/{{word.word}}?status_give=old"> {{word.word}} </a>
      </td>
      <td>{{word.definition}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>


  let words = {{ words | tojson }};
  let word_list = [];
  for (let i = 0; i < words.length; i++) {
    word_list.push(words[i].word)
  }
</script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %} {% block footer %}
<li class="nav-item">
  <a href="/detail/example" class="nav-link px-2 text-muted">Detail</a>
</li>
{% endblock %}
